# **AirFly Insights: Data Visualization and Analysis of Airline Operations**

In [ ]:
Week-wise Implementation Plan

Week 1: Project Initialization and Dataset Setup
• Define goals, KPIs, and workflow
• Load CSVs using pandas
• Explore schema, types, size, and nulls
• Perform sampling and memory optimizations

#### Load CSVs using pandas

In [11]:
import pandas as pd
import numpy as np
df = pd.read_csv(r"D:/flights.csv")
df

,FL_DATE,AIRLINE,AIRLINE_DOT,AIRLINE_CODE,DOT_CODE,FL_NUMBER,ORIGIN,ORIGIN_CITY,DEST,DEST_CITY,...,DIVERTED,CRS_ELAPSED_TIME,ELAPSED_TIME,AIR_TIME,DISTANCE,DELAY_DUE_CARRIER,DELAY_DUE_WEATHER,DELAY_DUE_NAS,DELAY_DUE_SECURITY,DELAY_DUE_LATE_AIRCRAFT
0,2019-01-09,United Air Lines Inc.,United Air Lines Inc.: UA,UA,19977,1562,FLL,"Fort Lauderdale, FL",EWR,"Newark, NJ",...,0.0,186.0,176.0,153.0,1065.0,NaN,NaN,NaN,NaN,NaN
1,2022-11-19,Delta Air Lines Inc.,Delta Air Lines Inc.: DL,DL,19790,1149,MSP,"Minneapolis, MN",SEA,"Seattle, WA",...,0.0,235.0,236.0,189.0,1399.0,NaN,NaN,NaN,NaN,NaN
2,2022-07-22,United Air Lines Inc.,United Air Lines Inc.: UA,UA,19977,459,DEN,"Denver, CO",MSP,"Minneapolis, MN",...,0.0,118.0,112.0,87.0,680.0,NaN,NaN,NaN,NaN,NaN
3,2023-03-06,Delta Air Lines Inc.,Delta Air Lines Inc.: DL,DL,19790,2295,MSP,"Minneapolis, MN",SFO,"San Francisco, CA",...,0.0,260.0,285.0,249.0,1589.0,0.0,0.0,24.0,0.0,0.0
4,2020-02-23,Spirit Air Lines,Spirit Air Lines: NK,NK,20416,407,MCO,"Orlando, FL",DFW,"Dallas/Fort Worth, TX",...,0.0,181.0,182.0,153.0,985.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2999995,2022-11-13,American Airlines Inc.,American Airlines Inc.: AA,AA,19805,1522,JAX,"Jacksonville, FL",CLT,"Charlotte, NC",...,0.0,85.0,71.0,55.0,328.0,NaN,NaN,NaN,NaN,NaN
2999996,2022-11-02,American Airlines Inc.,American Airlines Inc.: AA,AA,19805,1535,ORD,"Chicago, IL",AUS,"Austin, TX",...,0.0,176.0,145.0,130.0,977.0,NaN,NaN,NaN,NaN,NaN
2999997,2022-09-11,Delta Air Lines Inc.,Delta Air Lines Inc.: DL,DL,19790,2745,HSV,"Huntsville, AL",ATL,"Atlanta, GA",...,0.0,55.0,50.0,28.0,151.0,0.0,36.0,0.0,0.0,0.0
2999998,2019-11-13,Republic Airline,Republic Airline: YX,YX,20452,6134,BOS,"Boston, MA",LGA,"New York, NY",...,0.0,88.0,77.0,50.0,184.0,NaN,NaN,NaN,NaN,NaN
2999999,2019-06-15,Southwest Airlines Co.,Southwest Airlines Co.: WN,WN,19393,2823,LGB,"Long Beach, CA",SJC,"San Jose, CA",...,0.0,70.0,63.0,52.0,324.0,NaN,NaN,NaN,NaN,NaN

### Schema & Structure

In [12]:
# Column names
print("\nColumns:", df.columns.tolist())

# Shape of dataset (rows, columns)
print("\n\nShape:", df.shape)

Columns: ['FL_DATE', 'AIRLINE', 'AIRLINE_DOT', 'AIRLINE_CODE', 'DOT_CODE', 'FL_NUMBER', 'ORIGIN', 'ORIGIN_CITY', 'DEST', 'DEST_CITY', 'CRS_DEP_TIME', 'DEP_TIME', 'DEP_DELAY', 'TAXI_OUT', 'WHEELS_OFF', 'WHEELS_ON', 'TAXI_IN', 'CRS_ARR_TIME', 'ARR_TIME', 'ARR_DELAY', 'CANCELLED', 'CANCELLATION_CODE', 'DIVERTED', 'CRS_ELAPSED_TIME', 'ELAPSED_TIME', 'AIR_TIME', 'DISTANCE', 'DELAY_DUE_CARRIER', 'DELAY_DUE_WEATHER', 'DELAY_DUE_NAS', 'DELAY_DUE_SECURITY', 'DELAY_DUE_LATE_AIRCRAFT']


Shape: (3000000, 32)

### datatypes and Null values info

In [13]:
nulls = df.isnull().sum().to_frame("Null Count")
nulls["Null %"] = (df.isnull().mean() * 100).round(2)
nulls["Dtype"] = df.dtypes
nulls = nulls.sort_values("Null %", ascending=False)

print("\nNull Values Summary:")
print(nulls)

# summary count by dtype
print("\nDtypes count:")
print(df.dtypes.value_counts())

Null Values Summary:
                         Null Count  Null %    Dtype
CANCELLATION_CODE           2920860   97.36   object
DELAY_DUE_LATE_AIRCRAFT     2466137   82.20  float64
DELAY_DUE_SECURITY          2466137   82.20  float64
DELAY_DUE_NAS               2466137   82.20  float64
DELAY_DUE_WEATHER           2466137   82.20  float64
DELAY_DUE_CARRIER           2466137   82.20  float64
AIR_TIME                      86198    2.87  float64
ELAPSED_TIME                  86198    2.87  float64
ARR_DELAY                     86198    2.87  float64
WHEELS_ON                     79944    2.66  float64
ARR_TIME                      79942    2.66  float64
TAXI_IN                       79944    2.66  float64
WHEELS_OFF                    78806    2.63  float64
TAXI_OUT                      78806    2.63  float64
DEP_DELAY                     77644    2.59  float64
DEP_TIME                      77615    2.59  float64
ORIGIN_CITY                       0    0.00   object
AIRLINE_DOT                       0    0.00   object
AIRLINE_CODE                      0    0.00   object
DOT_CODE                          0    0.00    int64
FL_NUMBER                         0    0.00    int64
DISTANCE                          0    0.00  float64
ORIGIN                            0    0.00   object
DIVERTED                          0    0.00  float64
CRS_ELAPSED_TIME                 14    0.00  float64
DEST                              0    0.00   object
CANCELLED                         0    0.00  float64
DEST_CITY                         0    0.00   object
CRS_DEP_TIME                      0    0.00    int64
CRS_ARR_TIME                      0    0.00    int64
AIRLINE                           0    0.00   object
FL_DATE                           0    0.00   object

Dtypes count:
float64    19
object      9
int64       4
Name: count, dtype: int64

### sampling and memory optimizations

In [14]:
#memory size
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000000 entries, 0 to 2999999
Data columns (total 32 columns):
 #   Column                   Dtype
---  ------                   -----
 0   FL_DATE                  object
 1   AIRLINE                  object
 2   AIRLINE_DOT              object
 3   AIRLINE_CODE             object
 4   DOT_CODE                 int64
 5   FL_NUMBER                int64
 6   ORIGIN                   object
 7   ORIGIN_CITY              object
 8   DEST                     object
 9   DEST_CITY                object
 10  CRS_DEP_TIME             int64
 11  DEP_TIME                 float64
 12  DEP_DELAY                float64
 13  TAXI_OUT                 float64
 14  WHEELS_OFF               float64
 15  WHEELS_ON                float64
 16  TAXI_IN                  float64
 17  CRS_ARR_TIME             int64
 18  ARR_TIME                 float64
 19  ARR_DELAY                float64
 20  CANCELLED                float64
 21  CANCELLATION_CODE        object
 22  DIVERTED                 float64
 23  CRS_ELAPSED_TIME         float64
 24  ELAPSED_TIME             float64
 25  AIR_TIME                 float64
 26  DISTANCE                 float64
 27  DELAY_DUE_CARRIER        float64
 28  DELAY_DUE_WEATHER        float64
 29  DELAY_DUE_NAS            float64
 30  DELAY_DUE_SECURITY       float64
 31  DELAY_DUE_LATE_AIRCRAFT  float64
dtypes: float64(19), int64(4), object(9)
memory usage: 2.1 GB

In [16]:
# Drop unnecessary columns
dfc = df.drop(columns=['FL_NUMBER', 'AIRLINE_DOT', 'DOT_CODE'])

In [17]:
# Convert FL_DATE to datetime format
df["FL_DATE"] = pd.to_datetime(df["FL_DATE"], errors="coerce")  


# Convert selected columns to category dtype

categorical_cols = ['AIRLINE', 'AIRLINE_CODE', 'ORIGIN', 'ORIGIN_CITY','DEST', 'DEST_CITY', 'CANCELLATION_CODE']

dfc[categorical_cols] = dfc[categorical_cols].astype('category')

# Downcast floats (float64 to float32/float16)
numerical_cols = ['DEP_DELAY', 'ARR_DELAY', 'TAXI_OUT', 'TAXI_IN','CRS_ELAPSED_TIME', 'ELAPSED_TIME', 'AIR_TIME', 'DISTANCE',
                  'DELAY_DUE_CARRIER','DELAY_DUE_WEATHER','DELAY_DUE_NAS','DELAY_DUE_SECURITY','DELAY_DUE_LATE_AIRCRAFT']
for col in numerical_cols:
    dfc[col] = pd.to_numeric(dfc[col], downcast='float')



# Downcast ints (int64 to smallest possible unsigned int or int16)
for col in dfc.select_dtypes(include=['int64']):
    dfc[col] = pd.to_numeric(dfc[col], downcast='unsigned')



dfc.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000000 entries, 0 to 2999999
Data columns (total 29 columns):
 #   Column                   Dtype
---  ------                   -----
 0   FL_DATE                  object
 1   AIRLINE                  category
 2   AIRLINE_CODE             category
 3   ORIGIN                   category
 4   ORIGIN_CITY              category
 5   DEST                     category
 6   DEST_CITY                category
 7   CRS_DEP_TIME             uint16
 8   DEP_TIME                 float64
 9   DEP_DELAY                float32
 10  TAXI_OUT                 float32
 11  WHEELS_OFF               float64
 12  WHEELS_ON                float64
 13  TAXI_IN                  float32
 14  CRS_ARR_TIME             uint16
 15  ARR_TIME                 float64
 16  ARR_DELAY                float32
 17  CANCELLED                float64
 18  CANCELLATION_CODE        category
 19  DIVERTED                 float64
 20  CRS_ELAPSED_TIME         float32
 21  ELAPSED_TIME             float32
 22  AIR_TIME                 float32
 23  DISTANCE                 float32
 24  DELAY_DUE_CARRIER        float32
 25  DELAY_DUE_WEATHER        float32
 26  DELAY_DUE_NAS            float32
 27  DELAY_DUE_SECURITY       float32
 28  DELAY_DUE_LATE_AIRCRAFT  float32
dtypes: category(7), float32(13), float64(6), object(1), uint16(2)
memory usage: 520.8 MB

Week 2: Preprocessing and Feature Engineering
• Handle nulls in delay and cancellation columns
• Create derived features: Month, Day of Week, Hour, Route
• Format datetime columns
• Save preprocessed data for fast reuse

In [18]:

# Handling nulls in the columns
delay_cols = [ 'DEP_DELAY', 'ARR_DELAY', 'DELAY_DUE_CARRIER','DELAY_DUE_WEATHER', 'DELAY_DUE_NAS','DELAY_DUE_SECURITY', 'DELAY_DUE_LATE_AIRCRAFT']

# Fill nulls with 0
dfc[delay_cols] = dfc[delay_cols].fillna(0)

### Create derived features: Month, Day of Week, Hour, Route

In [21]:

dfc["FL_DATE"] = pd.to_datetime(dfc["FL_DATE"], errors="coerce")

dfc["year"] = dfc["FL_DATE"].dt.year

dfc["month_name"] = dfc["FL_DATE"].dt.strftime("%b")   

dfc["day_of_week"] = dfc["FL_DATE"].dt.day_name()

dfc["route"] = dfc["ORIGIN"].astype(str) + "-" + dfc["DEST"].astype(str)
print(dfc[["FL_DATE", "year", "month_name", "day_of_week", "route"]].head())

     FL_DATE  year month_name day_of_week    route
0 2019-01-09  2019        Jan   Wednesday  FLL-EWR
1 2022-11-19  2022        Nov    Saturday  MSP-SEA
2 2022-07-22  2022        Jul      Friday  DEN-MSP
3 2023-03-06  2023        Mar      Monday  MSP-SFO
4 2020-02-23  2020        Feb      Sunday  MCO-DFW